@page "/"

<h1>CG.Blazor.QuickStart</h1>
<p>This sample demonstrates how to integrate the <code>CG.Blazor</code> library with a standard <code>CG.Blazor</code> project.</p>

<br />

<p>
    Press the Sample button to see the demo in action.
</p>


